# TODO unitest repo is ander path kijken of we gaan gebruik maken van 1 unitest ding
name: CI

on:
    pull_request:
        branches: [main]
    
jobs:
    testing:
        name: Testing
        runs-on: ubuntu-latest
        permissions:
            contents: read

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Setup .NET10
              uses: actions/setup-dotnet@v3
              with: 
                dotnet-version: 10.0.x
            
            - name: Restore dependencies
              run: dotnet restore

            - name: Run unit tests
              run: dotnet test test/UnitTests/UnitTests.csproj --no-restore --verbosity normal

    coverage:
        name: Code coverage
        runs-on: ubuntu-latest
        steps: 
            - name: Checkout code
              uses: actions/checkout@v3
            
            - name: Setup .NET 10
              uses: actions/setup-dotnet@v3
              with:
                dotnet-version: 10.0.x
                
            - name: Restore dependencies
              run: dotnet restore

            - name: Install ReportGenerator
              run: dotnet tool install -g dotnet-reportgenerator-globaltool
            
            - name: Run tests with coverage
              run: dotnet test test/UnitTests/UnitTests.csproj --no-restore --collect:"XPlat Code Coverage" --results-directory ./coverage
                
            - name: Generate coverage report
              id: coverage_report
              run: reportgenerator -reports:./coverage/**/coverage.cobertura.xml -targetdir:./coverage/report -reporttypes:Html
            
            - name: Make downloadable coverage report
              if: ${{ steps.coverage_report.outcome == 'success' }}
              uses: actions/upload-artifact@v4
              with:
                name: coverage-report
                path: ./coverage/report
                if-no-files-found: error
            - name: Check coverage threshold
              run: |
                COVERAGE_RATE=$(grep -o 'line-rate="[0-9.]*"' ./coverage/**/coverage.cobertura.xml | head -1 | grep -o '[0-9.]*')
                COVERAGE=$(echo "$COVERAGE_RATE * 100" | bc)
                echo "Code coverage: $COVERAGE%"
                if (( $(echo "$COVERAGE < 80" | bc -l) )); then
                    echo "Code coverage is below 80%."
                    exit 1
                fi
                shell: bash
            
    linting:
        name: Linting
        runs-on: ubuntu-latest
        steps: 
            - name: Checkout code
              uses: actions/checkout@v3
            
            - name: Setup .NET 10
              uses: actions/setup-dotnet@v3
              with:
                dotnet-version: 10.0.x
                
            - name: Restore dependencies
              run: dotnet restore

            - name: .NET Lint
              uses: zyactions/dotnet-lint@v1
              with:
                workspace: CQRS-Synchronisation.sln
                implicit-restore: true

        
            